@model PostVM

<div class="container">
    <h3>Are you sure you want to private this post?</h3>
    <div>

        <hr />
        <div>
            <h6>@Html.DisplayNameFor(model => model.Title)</h6>
            @Model.Title
        </div>
        <div>
            <h6>@Html.DisplayNameFor(model => model.Summary)</h6>
            @Model.Summary
        </div>
        <div>
            <h6>@Html.DisplayNameFor(model => model.CreatedAt)</h6>
            @Model.CreatedAt
        </div>

        <form asp-action="Private">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Private" class="btn btn-primary" /> |
            <input type="button" value="Cancel" onclick="location.href='@Url.Action("GetPostByUserId","Post")'"/>
        </form>
    </div>
</div>