@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<partial name="_HeaderPartial" />

<div class="container wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div id="hiroHeaderCarousel" class="hiro-header-carousel carousel slide" data-ride="carousel" data-interval="3500">
        <div class="carousel-inner" role="listbox">

            <div class="row">
    <div style="width: 60%; margin: auto; margin-bottom: 10px; background: #e7ebf0; border-radius: 20px; box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px " class="col-md-4">
        <section>
            <h1 style="text-align: center; margin-bottom: 0px; margin-top: 16px">@ViewData["Title"]</h1>
            <form id="account" method="post">
                @*<h4>Use a local account to log in.</h4>*@
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div style="margin: auto; width: 30%" class="form-group">
                    <button style="width: 100%; background-color: #44d7b6 " type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p style="margin-bottom: 0px; margin-top: 16px; color: #44d7b6">
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p style="margin-bottom: 0px; color: #44d7b6">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
                <div style="display: flex; margin: auto; width: 80%">
                    <p style="text-align: center; width: 60%; margin: auto 0 auto 0"> Or Log In With </p> 
                <button style="font-size: 25px; color: #fff; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; justify-content: center; align-items: center; width: 50px; height: 50px; border-radius: 50%; margin: 5px; background-color: #ea4335; border: 2px solid #e7e7e7; ">
                    G
                </button>
                </div>
                
            </form>
        </section>
    </div>
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            <button class="login100-social-item bg3">
                <i class="fa fa-google"></i>
            </button>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>


        </div>
    </div>
</div>



@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

