@using BlogManagement_MVC.Data
@model IEnumerable<PostCategory>

@{
    ViewData["Title"] = "PostsByCategory";

}

@await Component.InvokeAsync("ShowCategory");

<main class="blog-page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 blog-post-archive">
                <h4 style="color:aquamarine">@ViewBag.CategoryTitle</h4>
                @foreach (var item in Model)
                {
                    <article class="media blog-post wow fadeInUp">
                        <img src="~/images/@item.Post.ImageURL" alt="blog post" class="blog-post-thumbnail">
                        <div class="media-body">
                            <h5 class="blog-post-title">@item.Post.Title</h5>
                            <p class="blog-post-excerpt">@item.Post.Summary</p>
                            <a asp-controller="Post" asp-action="Details" asp-route-id="@item.Post.Id" class="blog-post-link">Read more</a>
                        </div>
                    </article>

                }


                <nav aria-label="Page navigation example" class="mu-blog-pagination">
                    <ul class="pagination">
                        @if (ViewBag.CurrentPage != 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@ViewBag.ReturnUrl/@(ViewBag.CurrentPage - 1)" aria-label="Previous">
                                    <span aria-hidden="true" class="fa fa-long-arrow-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        }
                        @for (int i = 1; i <= ViewBag.TotalPage; i++)
                        {
                            <li class="page-item"><a class="page-link" href="@ViewBag.ReturnUrl/@(i)">@i</a></li>
                        }

                        @if (ViewBag.CurrentPage != ViewBag.TotalPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@ViewBag.ReturnUrl/@(ViewBag.CurrentPage + 1)" aria-label="Next">
                                    <span aria-hidden="true" class="fa fa-long-arrow-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>


                <!---->

            </div>
            <div class="col-lg-4 blog-sidebar wow fadeInRight">
                <div class="widget-twitter">
                    <h5 class=tweet>Role of Proximity in Product Interaction Design (IxD)</h5>
                    <p class="username">hiro@webflow</p>
                </div>
                <div class="widget-subscribe">
                    <h6 class="widget-tile">NEWS LETTER</h6>
                    <form action="/index.html" method="post" class="subscribe-form">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your mail">
                        </div>
                        <button class="btn btn-block btn-subscribe rounded-0">Subscriibe</button>
                    </form>
                    <p class="subscribe-text">Get special offers on the latest developments from hiro</p>
                </div>
                <div class="widget-posts">
                    <h6 class="widget-title">BUSINESS</h6>
                    <div class="media blog-post">
                        <img src="~/images/blog_sidebar_1.jpg" alt="blog sidebar" class="post-thumbnail">
                        <div class="media-body align-self-center">
                            <h6 class="post-title">A UX guide to designing better mood boards</h6>
                        </div>
                    </div>
                    <div class="media blog-post">
                        <img src="~/images/blog_sidebar_2.jpg" alt="blog sidebar" class="post-thumbnail">
                        <div class="media-body align-self-center">
                            <h6 class="post-title">Best Practices for a Smoother Designer</h6>
                        </div>
                    </div>
                    <div class="media blog-post">
                        <img src="~/images/blog_sidebar_3.jpg" alt="blog sidebar" class="post-thumbnail">
                        <div class="media-body align-self-center">
                            <h6 class="post-title">Common pitfalls during the designer-developer </h6>
                        </div>
                    </div>
                    <div class="media blog-post">
                        <img src="~/images/blog_sidebar_4.jpg" alt="blog sidebar" class="post-thumbnail">
                        <div class="media-body align-self-center">
                            <h6 class="post-title">Don’t forget to account for all the states of a </h6>
                        </div>
                    </div>
                    <div class="media blog-post">
                        <img src="~/images/blog_sidebar_5.jpg" alt="blog sidebar" class="post-thumbnail">
                        <div class="media-body align-self-center">
                            <h6 class="post-title">Sit together and use tools to improve </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</main>


